@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Roboto;
}

.Header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.Header img {
  width: 145px;
}
.Header nav {
  display: flex;
  align-items: center;
}
.Header nav ul {
  gap: 20px;
  display: flex;
}
.Header nav ul li {
  font-size: 12px;
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 209px;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
footer img {
  height: 40px;
  width: 122px;
}
footer p {
  width: 122px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.banner {
  position: relative;
  height: 111px;
  width: 100%;
  margin-top: 50px;
  border-radius: 25px;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  opacity: 0.4;
}
.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 16px;
  color: #fff;
  font-size: 37px;
  font-style: normal;
  line-height: 44px;
}

.logements {
  margin-top: 22px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.logements__card__article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 335px;
}
.logements__card__article__img {
  border-radius: 10px;
  height: 225px;
  object-fit: cover;
}
.logements__card__article__h2 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  margin: 0;
  color: #fff;
}

.appartement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px 20px 27px 20px;
}
.appartement__slider {
  position: relative;
  width: fit-content;
}
.appartement__slider__image {
  border-radius: 10px;
  width: 335px;
  height: 255px;
  object-fit: cover;
}
.appartement__slider__arrow {
  background-color: transparent;
  border: none;
}
.appartement__slider__arrow-left {
  position: absolute;
  top: 100px;
  left: 30px;
}
.appartement__slider__arrow-left__left {
  height: 20px;
  transform: rotate(270deg);
}
.appartement__slider__arrow-right {
  position: absolute;
  top: 100px;
  right: 30px;
}
.appartement__slider__arrow-right__right {
  height: 20px;
  transform: rotate(90deg);
}
.appartement__content__tags-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
.appartement__content__tags-list__tag-item {
  width: fit-content;
  padding: 5px;
  background-color: #ff6060;
  border-radius: 10px;
}

.collapse__equipments-item {
  list-style: none;
}
.collapse__button {
  border: none;
  border-radius: 10px;
  background-color: #ff6060;
}
.collapse__content {
  background-color: #f6f6f6;
  overflow: hidden;
  max-height: 0; /* Initialement replié */
  transition: max-height 0.3s ease-in-out;
}
.collapse__content-animation {
  max-height: 800px; /* Ou une valeur suffisamment grande pour votre contenu */
}
.collapse__arrow-down {
  transform: rotate(180deg);
}

.profil {
  display: flex;
  gap: 10px;
}
.profil__img {
  border-radius: 90px;
  height: 32px;
}

.Page404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Page404__img {
  height: 99px;
  width: 198px;
}

/*# sourceMappingURL=style.css.map */
